<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lift Planner</title>
    <link rel="stylesheet" href="/static/css/style.css" media="screen">
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
  </head>
  <body>
    {{> header}}
    {{{body}}}
  </body>
</html>
