<div class ="underhead">
<h1 class = "pageid">Create a new workout</h1>
<table class="create-table">
    <tr>
      <td><input type="text" placeholder="Workout Name" class="lift-entry"></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Lift Name"class="lift-entry"></td>
      <td><input type="text" placeholder="Reps"class="lift-entry"></td>
      <td><input type="text" placeholder="Sets"class="lift-entry"></td>
      <td><input type="text" placeholder="Muscle (Dropdown)"class="lift-entry"></td>
    </tr>
    <tr>
      <th class="table-button"><button type="button" name="plus-lift">Add Lift</button></th>
    </tr>
</table>
<button class="upload-w" type="button" name="send-workout">Upload Workout</button>
</div>
