<div class ="underhead">
<h1 class = "pageid">Add a workout</h1>
<table class="create-table">
  <thead>
    <tr>
      <th>Plan ID</th>
      <th>Plan Name</th>
      <th>Plan Description</th>
      <th>Plan Length</th>
    </tr>
  </thead>
  <body>
    {{#each plans}}
    <tr>
      <td>{{planID}}</td>
      <td>{{planName}}</td>
      <td>{{description}}</td>
      <td>{{duration}}</td>
    </tr>
    {{/each}}
</table>
<button class="upload-w" type="button" name="send-workout">Upload Workout</button>
</div>
