<div class="underhead">
<h1 class="pageid">Lifts_Muscles</h1>
<table class="logtable">
  <thead>
    <tr>
      <th>liftID</th>
      <th>muscleID</th>
    </tr>
  </thead>
  <body>
    {{#each lifts_muscles}}
    <tr>
      <td>{{liftID}}</td>
      <td>{{muscleID}}</td>
    </tr>
    {{/each}}
  </body>
</table>
</div>
