<div class="underhead">
<h1 class="pageid">Workout Log</h1>
<table class="logtable">
  <thead>
    <tr>
      <th>Log ID</th>
      <th>User Email</th>
      <th>Plan</th>
      <th>Date</th>
    </tr>
  </thead>
  <body>
    {{#each logs}}
    <tr>
      <td>{{logID}}</td>
      <td>{{email}}</td>
      <td>{{planName}}</td>
      <td>{{date}}</td>
    </tr>
    {{/each}}
  </body>
</table>
</div>
