<div class="underhead">
<h1 class="pageid">Plans_Lifts</h1>
<table class="logtable">
  <thead>
    <tr>
      <th>planID</th>
      <th>liftID</th>
    </tr>
  </thead>
  <body>
    {{#each plans_lifts}}
    <tr>
      <td>{{planID}}</td>
      <td>{{liftID}}</td>
    </tr>
    {{/each}}
  </body>
</table>
</div>
